@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;
    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/*The box-sizing property allows us to include the padding and border in an element's total width and height.

If you set box-sizing: border-box;on an element,padding and border are included in the width and height:*/


/* The scroll-behavior property specifies whether to smoothly animate the scroll position,
instead of a straight jump,
when the user clicks on a link within a scrollable box. */